.task {
  width: 300px;
  margin: 1rem;
  .ant-card {
    .ant-card-body {
      padding: 1rem;
    }
  }
  .task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // align-items: center;

    .task-menu-icon {
      font-size: 1.5rem;
      transform: rotate(90deg);
      cursor: pointer;
    }
    .task-menu {
    }
  }

  .task-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .task-title {
      font-size: 2rem;
    }
  }
  .subtasks-wrapper {
    .subtask {
      display: flex;
      width: 100%;
      .subtask-title {
        margin-left: 1rem;
      }
    }
  }
}

.task-menu {
  .menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.3rem 1.5rem;
  }
}
