.todo-page {
  .todo-page-header {
    padding: 1rem;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    .page-nav-back {
      font-size: 1.5rem;
      align-self: center;
    }
    .page-title {
      font-size: 1.5rem;
    }
  }
  .todo-page-form-wrapper {
    max-width: 768px;
    margin: 0 auto;
    padding: 4rem;
    @media only screen and (max-width: 768px) {
      padding: 1rem;
      .form-group-flex {
        flex-direction: column;
        .form-group-main {
          margin-right: 0;
        }
      }
    }
  }
  .form-group-flex {
    display: flex;

    .form-group-main {
      flex: 1;
      margin-right: 2rem;
      .form-group-buttons {
        display: flex;
        .ant-btn {
          margin: 0 1rem 0 0;
        }
      }
    }
    .form-group-subtasks {
      flex: 1;
    }
  }
}
