.page-layout {
  display: flex;
  min-height: 100vh;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
  .sidebar {
    flex: 1;
  }
  .user-info {
    flex: 2.5;
  }
  .page-content {
    flex: 12;
  }
}
