$PRIMARY-COLOR: #27ae60;
$COLOR-GREY-LIGHT: #f2f2f2;
$COLOR-GREY-DARK: #484c4f;
p,
div {
  margin: 0;
  padding: 0;
}
.color-primary {
  color: $PRIMARY-COLOR;
}

.bg-color-primary {
  background-color: $PRIMARY-COLOR;
}

.bg-color-grey-light {
  background-color: $COLOR-GREY-LIGHT;
}

.bg-color-grey-dark {
  background-color: $COLOR-GREY-DARK;
}
.color-white {
  color: #fff;
}

.color-grey-light {
  color: $COLOR-GREY-LIGHT;
}

.support-text {
  color: rgba(0, 0, 0, 0.55);
}

.color-black {
  color: #000;
}

.border-bottom {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.task-tag {
  padding: 0.2rem 0.8rem;
  color: #fff;
  text-transform: capitalize;
  border-radius: 5px;
  margin-right: 0.5rem;
}
// Overriding ant-specific classes
.App {
  .ant-card {
    border-radius: 8px;
  }

  .ant-btn {
    border-radius: 4px;
  }
  .ant-form-item {
    .ant-form-item-label {
      > label {
        color: rgba(0, 0, 0, 0.35);
      }
    }
  }
}
