$PRIMARY-COLOR: #27ae60;
$COLOR-GREY-LIGHT: #f2f2f2;
$COLOR-GREY-DARK: #484c4f;
.color-primary {
  color: $PRIMARY-COLOR;
}

.bg-color-primary {
  background-color: $PRIMARY-COLOR;
}

.bg-color-grey {
  background-color: $COLOR-GREY-LIGHT;
}

.bg-color-grey-dark {
  background-color: $COLOR-GREY-DARK;
}
.color-white {
  color: #fff;
}

// Overriding ant-specific classes
.app {
  .ant-input-affix-wrapper:hover {
    color: $PRIMARY-COLOR;
  }
}
